body{
    font-family:Fira Code;
    margin:0;
}
.header{
    display: flex;
    column-gap: 26px;
    padding-right: 34px;
    font-size: 13px;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 123px; 
    background-color: #081426;
    padding-bottom: 20px;;
}
#navbar{
    position: relative;
    transition: top 1s;
    
}
.nav1{
    transition: color 0.6s;
    cursor: pointer;
    text-decoration: none;
}
.nav1:hover{
    color:#64ffda;
    
}
.no{
    color: #64ffda;
    font-size: 13px;
    margin-bottom: 35px;
}
.no1{
    font-size: 17px;
    margin-bottom: 25px;
    color: #64ffda;
}
a{
    color: #a8b2d1;
}

.resume{
    cursor: pointer;
    border-color: #64ffda;
    color: #64ffda;
    background-color:#0a192f ;
    font-family:Fira Code;
    font-size: 13px;
    padding:12px 24px;
    border-width: 1px;
    border-radius: 6px;
    transition: transform 0.7s;
    box-shadow: inset 0px 0px #64ffda;

}
.main{
    padding-left: 240px;
    padding-right: 150px;
}
.intro-text{
    color: #8892b0;
    font-family: Inter;
    width:540px;
    height:79px;
    line-height: 25px;
}
.large,.shadow{
    font-size: 65px;
    color: #ccd6f6;
    font-weight:bolder;
    font-family: Inter;
    margin-left: -3px;
}
.large{
    margin-left: -8px;
}
.shadow{
    color:#8892b0;
    margin-top: 10px;
}
.icon{
    width:20px;
    height:20px;
    transition: 0.3s;
}
ul {
    list-style-type: none;
    margin: 0;
  }
  ul li {
    margin-top: 25px;
}
.links{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-link{
    width:40px;
    position: fixed;
    bottom: 0px;
    left: 20px;
    right:auto;
    z-index: 100;
}
.links::after{
    content:"";
    display:block;
    width:1px;
    height:90px;
    margin: 0px auto;
    background-color: #8892b0;
}
.links li,.mail a{
    transition: transform 0.7s;
}
.resume:hover{
    transform: translate(-5px,-5px);
    
}
.links li:hover, .mail a:hover{
    transform: translate(0, -6px);
    filter: invert(86%) sepia(5%) saturate(3802%) hue-rotate(99deg) brightness(103%) contrast(123%);}
.ef{
    background-color: #64ffda;
    border-radius: 6px;
    display:inline-block;
}
.ht{
    color:#64ffda;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.ht:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #64ffda;
    transition: 0.5s;
  }
.ht:hover::after{
    width:100%;
}
.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.mail a{
    margin: 20px auto;
    padding: 10px;
    writing-mode: vertical-rl;
    text-decoration: none;
    cursor: pointer;
    font-size: 12.5px;
}
.out{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 55px;
    z-index: 10;
    color: #64ffda;
}
.mail::after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color:#8892b0;
}
.title{
    display: flex;
    align-items: center;
}
.serial{
    color:#64ffda;
    font-family: Inter;
    margin-right: 17px;
    font-size: 23px;
}
.sub{
    color:#ccd6f6;
    font-family: Inter;
    font-size: 28px;
}
.title::after{
    content:"";
    display:block;
    height:0.02mm;
    width:200px;
    margin:0px 20px;
    background-color: #8892b0;
}
.section1{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}
.section1.active{
    transform: translateY(0px);
    opacity: 1;
}